#u73-4,#u85-4
{
	font-family: lancelot-n4, serif;
}

#u206-4,#u164-4,#u167-6,#u167,#u167-3
{
	font-family: droid-serif-n4, serif;
}

#u107-4,#u155-4,#u180-11
{
	font-family: droid-serif-n4, serif;
}

#u180-9 > #u180-2:before,#u180-9 > #u180-4:before,#u180-9 > #u180-6:before,#u180-9 > #u180-8:before
{
	font-family: droid-serif-n4, Georgia, serif;
}

#u96-4,#u156-4,#u178-4,#u274-4,#u282-4
{
	font-family: droid-serif-n7, serif;
}

