.version.index /* version checker */
{
	color: #00000E;
	background-color: #AF4268;
}

.html
{
	background-color: #9D50BB;
	background: -webkit-gradient(linear, left center, right center, from(#9D50BB),color-stop(100%, #6E48AA));
	background: -webkit-linear-gradient(left,#9D50BB ,#6E48AA 100%);
	background: -o-linear-gradient(left,#9D50BB ,#6E48AA 100%);
	background: linear-gradient(to right,#9D50BB ,#6E48AA 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9D50BB, endColorstr=#FF6E48AA, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9D50BB', endColorstr='#FF6E48AA', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#u87
{
	z-index: 19;
	width: 375px;
	background-color: transparent;
	margin-left: 286px;
	position: relative;
}

#u72-4
{
	z-index: 2;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u72-4-bw
{
	z-index: 2;
	min-height: 44px;
	margin-top: 10px;
	height: 44px;
}

#u82-9
{
	z-index: 6;
	width: 705px;
	min-height: 38px;
	background-color: transparent;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 128px;
	margin-top: 11px;
	position: relative;
}

#u82,#u82-6
{
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u84-4
{
	z-index: 15;
	width: 630px;
	min-height: 37px;
	background-color: transparent;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 100;
	margin-left: 165px;
	margin-top: 25px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

