#u72
{
	border-style: none;
	border-color: transparent;
	background-color: #1D9D74;
	position: fixed;
}

#u75
{
	background-color: transparent;
	position: fixed;
}

#u73-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	text-align: left;
	font-family: lancelot, serif;
	font-weight: 400;
	position: fixed;
}

#u206-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u86,#u90,#u269,#u92
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
}

#u85-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	font-family: lancelot, serif;
	font-weight: 400;
	position: fixed;
}

#u83
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEEE;
}

#u163
{
	border-style: none;
	border-color: transparent;
	background-color: #22B573;
}

#u83_align_to_page,#u163_align_to_page
{
	position: relative;
}

#u164-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u167-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u167,#u167-3
{
	font-family: droid-serif, serif;
	font-weight: 400;
}

#u170
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u165
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

